@import "./navigation-header.scss";
@import "./navigation-nav.scss";
@import "./navigation-drawer.scss";

.navigation-nav,
.navigation-header {
    padding-left: var(--width-gutter);
    padding-right: var(--width-gutter);
}

.navigation-mobile-toggle {
    position: relative;
    display: flex;
    justify-content: flex-end;

    > svg {
        cursor: pointer;
    }
}